@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto;
  color: #666;
  font-size: 13px;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1 {
  font-size: 20px;
  color: #333;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 15px;
}